html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    background-color: #e5e5e5;
    color: #000;
    background-color: #fff;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.block {
    margin-bottom: 50px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 15px;
}

i {
    font-weight: 400;
    font-style: italic;
}
