.header {
    padding-top: 60px;
}

.header__title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}

.header__description:not(:last-child) {
    margin-bottom: 30px;
}

.header__navigation {
    background-color: #f1f1f1;
    padding: 25px 0 25px 0;
}
