.nav__list {
    padding-left: 40px;
    color: #02535f;
    margin: 0;
}

.nav__item:not(:last-child) {
    margin-bottom: 10px;
}

.nav__link {
    text-decoration: underline;
    text-decoration-color: #000;
}
