.nav {
    background-color: #f1f1f1;
    padding: 25px 0 25px 0;
}


.nav__list {
    padding-left: 40px;
    color: #02535f;
    margin: 0;
}

.nav__item:not(:last-child) {
    margin-bottom: 10px;
}

.nav__link {
    /* text-decoration: none; */
    /* text-decoration: underline;
    text-decoration-color: #000; */
    border-bottom: 1px solid #000;
}
