.rule-two__figure {
    margin-bottom: 30px;
}

.rule-two__figcaption {
    margin-bottom: 30px;
}

.rule-two__figcaption_border-block {
    margin-bottom: 30px;
}

.rule-two__img {
    margin: 0 auto;
    margin-bottom: 30px;
}

.rule-two__img:last-child {
    margin-bottom: 0;
}

.rule-two__border-block {
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
    border-right: 1px solid #5e5e5e;
}

.rule-two__img_border-block {
    margin-bottom: 0;
}

.rule-two__text {
    color: #5e5e5e;
    padding: 15px 30px;
    border-left: 1px solid #5e5e5e;
}

.rule-two__description-item {
    margin-bottom: 30px;
}
