.rule-three__description {
    margin-bottom: 30px;
}

.rule-three__figure:not(:last-child) {
    margin-bottom: 30px;
}

.rule-three__figcaption {
    margin-bottom: 30px;
}

.rule-three__img {
    margin: 0 auto;
    margin-bottom: 30px;
}

.rule-three__img:last-child {
    margin-bottom: 0;
}
